.container{
  margin: 0 auto; 
}

@media (min-width:$tablet-width){
  .container{
    max-width: 900px;
    margin: 0 auto;
  }
}

@media (min-width:$desktop-width){
  .container{
    max-width: 1000px;
    margin: 0 auto;
  }
}
